<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        td, th {
            border: 1px solid #dddddd;
        }
    </style>
</head>
<body>
<form action="/students" method="post">
    <div>
        <label>Student id</label>
        <input type="number" name="id" placeholder="Student id">
    </div>

    <div>
        <label>Student name</label>
        <input type="text" name="name" placeholder="Student name">
    </div>

    <div>
        <label>Student email</label>
        <input type="text" name="email" placeholder="Student email">
    </div>
    <button type="submit">Submit</button>
</form>
<table>
<thead>
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
</tr>
</thead>
<tbody>
{{#students}}
 <tr>

     <td>{{id}}</td>
     <td>{{name}}</td>
     <td>{{email}}</td>
 </tr>
{{/students}}
</tbody>

</table>


</body>
</html>